body{
  background-image: url('/assets/jeremy-bishop-dvACrXUExLs-unsplash (3).svg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media(width <= 768px){
  body{
    background-image: none;
    background-image: url('/assets/jeremy-bishop-dvACrXUExLs-unsplash.svg');
  }
}
